.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
slurm*
core*
scRNA_and_scATAC-seq_Markdowns/**/scRNA-seq/**/
scRNA_and_scATAC-seq_Markdowns/**/scATAC-seq/**/
scRNA_and_scATAC-seq_Markdowns/**/scRNA-seq/*.pdf



