.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
slurm*
core*
scRNA_and_scATAC-seq_Markdowns/**/scRNA-seq/**/
scRNA_and_scATAC-seq_Markdowns/**/scATAC-seq/**/
scRNA_and_scATAC-seq_Markdowns/**/scRNA-seq/*.pdf
scRNA_and_scATAC-seq_Markdowns/**/Multiome/**/Figures
scRNA_and_scATAC-seq_Markdowns/**/Multiome/**/Files
!scRNA_and_scATAC-seq_Markdowns/**/scRNA-seq/Markdowns



